<mat-toolbar color="primary" class="header-toolbar">
  <span class="logo">
    <img
      (click)="onClick()"
      src="assets/images/logo.png"
      alt="Logo"
      class="logo-img"
    />
  </span>

  <span class="spacer"></span>

  <button mat-button (click)="onClick()" color="accent">Home</button>

  <button mat-button [routerLink]="['/add-client']" color="accent">
    <mat-icon>add</mat-icon> Add Client
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="onProfile()">Profile</button>
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User Menu">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
