<div class="card flex justify-content-center">
  <p-dialog
    header="Sorting Clients"
    [modal]="true"
    [(visible)]="visible.value"
    [style]="{ width: '40rem' }"
  >
    <div class="flex align-items-center gap-3 mb-3">
      <label for="username" class="font-semibold w-6rem"
        >Sort client by :
      </label>

      <p-dropdown
        [style]="{ 'margin-top': '15px' }"
        appendTo="body"
        [options]="sortProperties"
        [(ngModel)]="selectedProperty"
        optionLabel="name"
        placeholder="Select a Property"
      />
    </div>

    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="visible.value = false"
      />
      <p-button label="Save" (click)="onSaveClick()" />
    </div>
  </p-dialog>
</div>
