<section class="form-container">
  <div class="form-card">
    <form [formGroup]="form">
      <h3 class="form-title">{{ isEdit ? "Edit Form" : "Registration Form" }}</h3>

      <div class="form-row">
        <div class="form-col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstname" type="text" />
            <mat-error *ngIf="firstname?.hasError('minlength')">Min 2 characters.</mat-error>
            <mat-error *ngIf="firstname?.hasError('maxlength')">Max 50 characters.</mat-error>
            <mat-error *ngIf="firstname?.hasError('pattern') && !firstname.hasError('minlength') && !firstname.hasError('maxlength')" >Only letters are allowed.</mat-error>
            <mat-error *ngIf="firstname?.touched && firstname.value === ''">This field is required.</mat-error>
            <mat-error *ngIf="firstname?.touched && firstname.hasError('singleLanguage') && !firstname.hasError('required') && !firstname.hasError('minlength') && !firstname.hasError('maxlength')">
              Please write in English or in Georgian.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastname" type="text" />
            <mat-error *ngIf="lastname?.hasError('minlength')">Min 2 characters.</mat-error>
            <mat-error *ngIf="lastname?.hasError('maxlength')">Max 50 characters.</mat-error>
            <mat-error *ngIf="lastname?.hasError('pattern') && !lastname.hasError('minlength') && !lastname.hasError('maxlength')" >Only letters are allowed.</mat-error>
            <mat-error *ngIf="lastname?.touched && lastname.value === ''">This field is required.</mat-error>
            <mat-error *ngIf="lastname?.touched && lastname.hasError('singleLanguage') && !lastname.hasError('required') && !lastname.hasError('minlength') && !lastname.hasError('maxlength')">
              Please write in English or in Georgian.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="form-col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Personal ID</mat-label>
            <input matInput formControlName="personalid" type="text" />
            <mat-error *ngIf="personalid?.touched && (personalid?.hasError('minlength') || personalid?.hasError('maxlength'))">
              ID must be exactly 11 characters.
            </mat-error>
            <mat-error *ngIf="personalid?.touched && personalid?.hasError('pattern') && !personalid?.hasError('minlength') && !personalid?.hasError('maxlength')">
              Only digits are allowed.
            </mat-error>
          </mat-form-field>
          
        </div>
        <div class="form-col">
          <h6 class="form-subtitle">Gender</h6>
          <mat-radio-group class="radio-group" formControlName="gender">
            <mat-radio-button class="radio-button" value="Male">Male</mat-radio-button>
            <mat-radio-button class="radio-button" value="Female">Female</mat-radio-button>
            <mat-error *ngIf="gender?.touched && gender.value === ''">This field is required.</mat-error>

          </mat-radio-group>
        </div>
      </div>

      <div class="form-row">
        <div class="form-col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phonenumber" type="tel" />
            <mat-error *ngIf="phonenumber?.hasError('pattern')">Invalid format.</mat-error>
            <mat-error *ngIf="phonenumber?.touched && phonenumber.value === ''">This field is required.</mat-error>
            <mat-error *ngIf="phonenumber?.errors?.['startsWithFive']">Please enter number starting with 5.</mat-error>
            <mat-error *ngIf="phonenumber?.errors?.['invalidDigits']">Mobile number should consist of 9 digits. </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div formGroupName="address" class="form-row">
        <div class="form-col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" type="text" />
            <mat-error *ngIf="myAddress?.touched && myAddress.value === ''">This field is required.</mat-error>
            <mat-error *ngIf="myAddress?.hasError('singleLanguage')">Please write in English or in Georgian. </mat-error>
          </mat-form-field>
        </div>
        <div class="form-col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" type="text" />
            <mat-error *ngIf="myCity?.touched && myCity.value === ''">This field is required.</mat-error>
            <mat-error *ngIf="myCity?.hasError('pattern')" >Only letters are allowed.</mat-error>
            <mat-error *ngIf="myCity?.hasError('singleLanguage')">Please write in English or in Georgian. </mat-error>

          </mat-form-field>
        </div>
        <div class="form-col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" type="text" />
            <mat-error *ngIf="myCountry?.touched && myCountry.value === ''">This field is required.</mat-error>
            <mat-error *ngIf="myCountry?.hasError('singleLanguage')">Please write in English or in Georgian. </mat-error>

          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="form-col">
          <h4>Upload Photo</h4>
          <input
            (change)="onInputChanged($event)"
            class="form-control form-control-lg"
            type="file"
            accept="image/jpeg, image/png, image/jpg"
          />
        </div>
      </div>

      <div class="form-actions">
        <button mat-raised-button color="primary" (click)="submit()">
          {{ isEdit ? "Edit Client" : "Register Client" }}
        </button>
      </div>
    </form>
  </div>
</section>
