<section class="vh-70 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">
                {{ form.valid ? "Edit Form" : "Registration Form" }}
              </h3>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label">First Name</label>
                    <input
                    
                      formControlName="firstname"
                      type="text"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <span *ngIf="firstname?.errors?.['minlength']">
                    Minlengh mast be at least 2 charachters</span
                  >
                  <span *ngIf="firstname?.errors?.['maxlength']">
                    Maxlength mast be max 50 charachters</span
                  >
                  <span *ngIf="firstname?.touched && firstname.value === ''">
                    Filed must not be empty</span
                  >
                  <span *ngIf="firstname?.errors?.['georgianLetters']">
                    Name </span
                  >
                </div>
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label">Last Name</label>
                    <input
                      formControlName="lastname"
                      type="text"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <span *ngIf="lastname?.errors?.['minlength']">
                    Minlengh mast be at least 2 charachters</span
                  >
                  <span *ngIf="lastname?.errors?.['maxlength']">
                    Maxlength mast be max 50 charachters</span
                  >
                  <span *ngIf="lastname?.touched && lastname.value === ''">
                    Filed must not be empty</span
                  >
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div
                    data-mdb-input-init
                    class="form-outline datepicker w-100"
                  >
                    <label class="form-label">Personal ID</label>
                    <input
                      formControlName="personalid"
                      type="text"
                      class="form-control form-control-lg"
                    />
                    <br />
                    <span
                      *ngIf="personalid?.errors?.['minlength'] || personalid?.errors?.['maxlength']"
                    >
                      Length mast be at 11 charachters</span
                    >
                    <span
                      *ngIf="personalid?.touched && personalid.value === ''"
                    >
                      Filed must not be empty</span
                    >
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <h6 class="mb-2 pb-1">Gender:</h6>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label" for="maleRadio">Male</label>
                    <input
                      [value]="'Male'"
                      (change)="radioChangeHandler($event)"
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="maleRadio"
                      [checked]="gender.value === 'Male'"
                    />
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      [value]="'Female'"
                      (change)="radioChangeHandler($event)"
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="femaleRadio"
                      [checked]="gender.value === 'Famale'"
                    />
                    <label class="form-check-label" for="femaleRadio"
                      >Female</label
                    >
                  </div>
                </div>
                <div data-mdb-input-init class="form-outline">
                  <label class="form-label">Phone Number</label>
                  <input
                    formControlName="phonenumber"
                    type="tel"
                    class="form-control form-control-lg"
                  />
                </div>
              </div>
              <!-- <span
                *ngIf="phonenumber?.errors?.['minlength'] || phonenumber?.errors?.['maxlength']"
              >
                Length mast be at 9 charachters</span
              > -->

              <div *ngIf="phonenumber?.errors?.['required']">
                Number is required.
              </div>
              <span *ngIf="phonenumber?.errors?.['pattern']">
                Please enter a 9-digit number starting with 5.
              </span>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label">Legal Address</label>
                    <input
                      formControlName="legaladdress"
                      type="text"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <span
                    *ngIf="legaladdress?.touched && legaladdress.value === ''"
                  >
                    Filed must not be empty</span
                  >
                </div>

                <div class="col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label">Current Address</label>
                    <input
                      formControlName="currentaddress"
                      type="tel"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <span
                    *ngIf="
                      currentaddress?.touched && currentaddress.value === ''
                    "
                  >
                    Filed must not be empty</span
                  >
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label">Legal City</label>
                    <input
                      formControlName="legalcity"
                      type="text"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <span *ngIf="legalcity?.touched && legalcity.value === ''">
                    Filed must not be empty</span
                  >
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label">Current City</label>
                    <input
                      formControlName="currentcity"
                      type="text"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <span
                    *ngIf="currentcity?.touched && currentcity.value === ''"
                  >
                    Filed must not be empty</span
                  >
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label">Legal County</label>
                    <input
                      formControlName="legalcountry"
                      type="text"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <span
                    *ngIf="legalcountry?.touched && legalcountry.value === ''"
                  >
                    Filed must not be empty</span
                  >
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label">Current Country</label>
                    <input
                      formControlName="currentcountry"
                      type="text"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <span
                    *ngIf="
                      currentcountry?.touched && currentcountry.value === ''
                    "
                  >
                    Filed must not be empty</span
                  >
                </div>
              </div>
              <div class="col-md-9 pe-5">
                <h4>Upload Photo</h4>
                <input
                  formControlName="img"
                  class="form-control form-control-lg"
                  id="formFileLg"
                  type="file"
                />
              </div>

              <div class="mt-4 pt-2">
                <input
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-primary btn-lg"
                  type="submit"
                  value="{{ form.valid ? 'Edit client' : 'Register client' }}"
                />
              </div>

              <button type="button" class="btn btn-primary btn-lg">
                {{ form.valid ? "Edit client" : "Register client" }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
