.gradient-custom {
/* fallback for old browsers */
background: #f093fb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to bottom right, rgb(14, 7, 62), rgb(155, 87, 245));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to bottom right, rgb(5, 1, 37), rgb(140, 87, 245))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1.5rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 113px;
}

span {
    color: red;
}