<div>
  <div class="container profile-page">
    <form [formGroup]="form">
      <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            formControlName="searchinput"
            pInputText
            placeholder="Search client by firstname"
          />
        </span>

        <button class="sorting-btn" (click)="openSortDialog()" mat-button>
          Sorting
        </button>
      </div>
    </form>
    <div class="row">
      <div
        class="col-xl-6 col-lg-7 col-md-12"
        *ngFor="let client of allClients$ | async"
      >
        <div class="card profile-header">
          <div class="body">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-12">
                <div class="profile-image float-md-right">
                  <img
                    [src]="client.img"
                    alt=""
                    style="width: 140px; height: 160px; object-fit: cover"
                  />
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-12">
                <h4 class="m-t-0 m-b-0">
                  <strong>{{ client.firstname }} {{ client.lastname }}</strong>
                </h4>
                <p>For more detailed information, please visit my profile</p>

                <div style="display: flex; gap: 10px">
                  <button
                    mat-raised-button
                    color="primary"
                    [routerLink]="['/client-detail', client.id]"
                  >
                    Show Profile
                  </button>

                  <button
                    mat-raised-button
                    style="background-color: #cd1010; color: white"
                    (click)="onDelete(client.id, $event)"
                  >
                    Delete Client
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-confirmDialog />
</div>
>
<div class="paginator-container">
  <mat-paginator
    [length]="items$ | async"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</div>
